
{% load static %}
<html>
<head><title> Promise Update Form </title>

 <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<div class="container"> 
    <!-- Display attributes of instance -->
 <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">


<p><strong>Total Promised:</strong> {{ data }}</p>

</div> 

</div> 
</div> 
</div> 


</body>
</html>
