{% extends "articles/articlesbase.html" %} 
{% load static %}
{% block content %}


  

<h2>World Wide Basic News About COVID-19</h2>
            <p>Reported Cases and Deaths by Country, Territory, or Conveyance
The coronavirus COVID-19 is affecting 213 countries and territories around the world and 2 international conveyances. The day is reset after midnight GMT+0. The list of countries and territories and their continental regional classification is based on the United Nations Geoscheme. Sources are provided under "Latest Updates". Learn more about Worldometer's COVID-19 data.</p>

            <div class="line"></div>

            <h2>COVID Specific News About Ethiopia</h2>
            <p>#COVID19Ethiopia latest: Fourteen (14) people have tested positive for #COVID19 out of 3271 laboratory tests conducted in the last 24 hrs, bringing the total confirmed number in Ethiopia to 365.</p>

<p>Four (4) people have also recovered, bringing the total recovered number to 120.

Of the 14 who tested positive today six (6) have travel history, seven (7) have contact traces with previous case & one (1) has neither of both. Among these nine (9) are from #AddisAbeba (Seven of these are due to contact with previous case, one is a cross country truck driver, and the other one is the one who has neither travel nor contact).

One is from #Tigray, #Mekelle quarantine center, and one is from #Oromia. The patients in both cases are cross country truck drivers.

The last three are from #Jigjiga quarantine center in #Somali region.</p>
<p>
#Correction from the Ministry of Health: One case which was announced yesterday from #Ataye quarantine center in #Amhara region, is an old case which was already counted. Therefore yesterday's tally is 34, instead of 35.</p>

            <div class="line"></div>

            <h2>Motivation Behind</h2>
            <p>The motivation behind the development of this application is behind Bibugn COVID-19 Fundraising, initiated by those originated from that village. It was founded before a month and could collect worth a value of more than 500,000 ETB. it is fantastic..</p>

            <div class="line"></div>

            <h3>Features</h3>
            <p>This application being developed is supposed mainly to authomatically register those who promised and payed for the fundraising, the main motivation behind. it also registers all generations of the village and displays posts, news, etc. The user can rget registered, add bios, comment, post articles, promises, pays for what he/she promised on behalf of something, he would like.</p>
      

{%endblock%}
